.container {
    margin: 0 auto;
    width: 429px;
    height: 788px;
    border: solid 1px gray;
}
.checkGrow {
    margin: 31px;
    display: flex;
    flex-direction: column; 
}
.wrapp {
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
}
.logo {
    width: 196px;
    height: 80px;
    /*background-color: #372CC1;*/
    background: url('logo.png') no-repeat;
    background-size: contain;
    font-family: 'Roboto, Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 16px 0 0 0;
}

.date {
    display: block;
    font-family: 'Roboto, Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
    padding: 0 0 40px 0;
}
.reception, .support {
    font-family: 'Roboto, Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.06px;
}
.total, .cash {
    font-family: 'Roboto, Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;

}
.hr {
    display: block;
    width: 367px;
    height: 2px;
    font-size: 2px;
    background-color: #5440D2;
}
.maintext {
    font-family: 'Roboto, Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.41px;
    margin-top: 12px;
}
.print {
    width: 380px;
    height: 100px;
    /*background-color: #372CC1;*/
    background: url('stamp.png') no-repeat;
    background-size: contain;
    background-position: right;
    font-family: 'Roboto, Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: white;
    display: block;
    margin: 50px 0 30px 0px;
}
